@media (min-width: 768px) {
  /* GLOBAL */
    /* NAVIGATION MENU */

  .nav-link {
    font-size: 16px;
    padding: 20px !important;
  }

  .nav-link::after {
    top: 50px;
  }

  /* PAGE INDEX */

  .header-text {
    font-size: 40px;
  }

  /* PAGE SOLUTIONS */
  .skew-nav a p {
    font-size: 2rem!important;
  }
   .skew-nav img {
    width: 180%;
  }
  .demi {
    height: 75vh;
  }
  .tablet-wrap {
    flex-wrap: nowrap;
  }

  .tablet-hide {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .tablet-show {
      opacity: 0;
      visibility: hidden;
      display: none;
  }
}