@media (min-width: 481px) {
  /* GLOBAL */

  /* NAVIGATION MENU */
  .menu {
    display: flex;
    margin: auto;
  }

  .nav-link {
    font-size: 12px;
    padding-left: 2px !important;
    padding-right: 2px !important;
    margin: auto 0;
    left: 0;
  }

  .nav-link::after {
    top: 32px;
    left: 5px;
    height: 3px;
    width: 10px;
  }

  .nav-link:hover::after {
    left: 15%;
  }

  /* PAGE INDEX */
  .header-text {
    font-size: 30px;
    color: #fff;
  }

  .header-text-div {
    top: 35%;
  }

  /* PAGE PROBLEMATIQUE */
  .case :first-child {
    margin: 15px;
  }

  /* PAGE SOLUTIONS */
  .skew-nav img {
    width: 200%;
  }
  .demi {
    height: 60vh;
  }
  .tablet-wrap {
    flex-wrap: wrap;
  }
  .tablet-hide {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  
  .tablet-show{
    opacity: 1;
    display: block;
    visibility: visible;
  }
}
